<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!--<properties resource="config.properties"/>-->
    <properties>
        <property name="db.driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="db.url" value="jdbc:mysql://127.0.0.1:3306/mybatis_learn?characterEncoding=utf8&amp;useSSL=true&amp;serverTimezone=UTC"/>
        <property name="db.username" value="root"/>
        <property name="db.password" value="112358flzt9t"/>
    </properties>

    <!--<settings>-->
        <!--日志jar引入后mybatis会自动识别到-->
        <!--&lt;!&ndash;配置Mybatis日志&ndash;&gt;-->
        <!--&lt;!&ndash;<setting name="logImpl" value="LOG4J"/>&ndash;&gt;-->
    <!--</settings>-->

    <!-- 配置类型别名 -->
    <typeAliases>
        <!-- 设置类型别名，方法1 -->
        <typeAlias alias="Blog" type="top.kwseeker.mybatis.usage.domain.Blog"/>
        <!-- 设置类型别名，方法2, 为包下所有类指定别名，别名为类名 -->
        <package name="top.kwseeker.mybatis.usage.domain"/>
    </typeAliases>

    <typeHandlers>

    </typeHandlers>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/BlogMapper.xml"/>
    </mappers>

</configuration>

